@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #544837;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 28px;
}

img {
    max-width: 100%;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    margin: 0 0 30px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #2F281E;
    margin: 0 0 30px;
}

h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #2F281E;
    margin: 0 0 16px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 5px 0;
}

a {
    text-decoration: none;
    color: #544837;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

p {
    margin: 0 0 20px;
}

.nav-bar {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 26px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
}

.nav-menu {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
}

.nav-menu p {
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    color: #2F281E;
}

.nav-menu p:first-child {
    color: #FF9900;
    cursor: pointer;
}

.nav-menu p:hover {
    color: #FF9900;
    cursor: pointer;
}

.nav-right {
    width: 20%;
    display: flex;
    justify-content: space-between;
    
}

.nav-right button {
    max-width: 110px;
    width: 100%;
    padding: 13px 23px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    color: #2F281E;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.nav-right button:last-child {
    color: white;
    background-color: #FF9900;
}

.nav-right button:hover {
    color: white;
    background-color: #FF9900;
}


.container {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    overflow: hidden;
}

.col {
    float: left;
}

.hero-section .col {
    width: 50%;
}

.hero-section .col:first-child {
    padding: 97px 0;
}

.btn {
    display: inline-block;
    max-width: 180px;
    width: 100%;
    padding: 13px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    background-color: #FF9900;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.btn:hover {
    background-color: #FF7B5B;
}

.design-section {
    background-image: url("images/bg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
}

.design-section .container {
   padding: 50px 0px;
}

.design-section h2 {
    width: 45%;
    margin: 0 auto 30px;
    text-align: center;
}

.design-section .row {
    margin-bottom: 70px;
}

.design-section .col {
    width: calc(100% / 4);
}

.design-section .icon-holder {
    padding: 20px 0 30px;
}

.design-section .btn {
    display: block;
    margin: 0 auto;
}

.footer {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.footer .column {
    width: 25%;
    
}

.footer .column > div {
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

input[type="tel"] {
    font-size: 16px;
    line-height: 20px;
    color: #BCD0E5;
    max-width: 340px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    margin: 0 0 5px;
}

