$main-font: "Montserrat", sans-serif;
$heading-font: "Work Sans", sans-serif;
$main-size: 16px;
$secondary-size: 18px;
$media-base: 14px;
$media-sub: 15px;
$media-small: 13px;

$biggest-weight: 700;
$semi-weight: 600;
$middle-weight: 500;
$regular-weight: 400;

