* {
    box-sizing: border-box;
}

body {
    background-color: #2B81AC;
    font-family: 'Lucida Sans Unicode', sans-serif;
    color: white;
}

main {
    padding: 20px;
}

h1, h2 {
    margin: 0 0 19px;
    
}

h1 {
    display: inline-block;
    position: relative;
    left: 70px;
    font-size: 21px;
    line-height: 24.61px;
    
}

h2 {
    font-size: 22px;
    line-height: 26px;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0;

}

.li {
    display: inline-block;
    font-size: 22px;
    line-height: 25.78px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    border: 2px solid white;
    text-align: center;
    
}

.wrapper {
    padding: 20px;
    background-color: transparent;
    transition: background-color .3s cubic-bezier(0.39, 0.58, 0.57, 1);
}

.container:hover .wrapper {
    background-color: rgba(255, 255, 255, 0.7);

}

.li:hover .wrapper {
    background-color: transparent;
}

span {
    color: rgba(255, 255, 255, 0.7);
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}


.row1 li:nth-child(1) {
    width: 50%;
    background-color: rgb(51, 153, 204);
    border-top-width: 4px;
    border-left-width: 4px;
}


.row1 li:nth-child(2),
.row1 li:nth-child(3) {
    width: 25%;
}


.row1 li:nth-child(2) {
    background-color: #33CCCC;
    border-top-width: 4px;
}

.row1 li:nth-child(3) {
    background-color: #996699;
    border-top-width: 4px;
    border-right-width: 4px;
}

.row2 li {
    width: calc(100% / 4);
}

.row2 li:nth-child(1) {
    background-color: #C24747;
    border-left-width: 4px;
}

.row2 li:nth-child(2) {
    background-color: #E2674A;
}

.row2 li:nth-child(3) {
    background-color: #FFCC66;
}

.row2 li:nth-child(4) {
    background-color: #99CC99;
    border-right-width: 4px;
}

.row3 li:nth-child(1),
.row3 li:nth-child(3) {
    width: 25%;
}

.row3 li:nth-child(1) {
    background-color: #669999;
    border-left-width: 4px;
}

.row3 li:nth-child(2) {
    width: 50%;
    background-color: #CC6699;
}


.row3 li:nth-child(3) {
    background-color: #339966;
    border-right-width: 4px;
}

li:only-child {
    width: 100%;
    background-color: #666699;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;

} 

.container .wi {
    font-size: 42px;
    line-height: 61px;
    color: rgba(255, 255, 255, 0.7);
    vertical-align: sub;
}

.span {
    display: inline-block;
    position: relative;
    left: 70px;
    bottom: -30px;
    line-height: 18.75px;
    color: white;
}