@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

section {
    width: 72%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
}

p {
    margin-block-start: 0;
}

.header {
    position: sticky;
    top: 0;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    
}

#home {
    
    align-items: flex-start;
}

#home .img {
    margin-bottom: -5px;
}

#about-me, #portfolio {
    background: #E5E5E5;
    padding: 80px 189px;
    text-align: center;
}

#skills, #contact {
    margin-top: 50px;
    margin-bottom: 50px;
    
}


.header .nav-item {
    margin-right: 40px;
    
}

.header .red:hover {
    color: darkcyan;
    text-shadow: 2px -1px darkcyan;
    
}


#skills .list-icon {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 0 25px;
}

#skills .heading-3 {
    font-size: 14px;
    margin-bottom: 40px;

}

#contact .social-list {
    padding: 15px;
}

.btn {
    width: 180px;
    height: 44px;
    border: none;
    border-radius: 22px;
    background: #070707;
    color: white;
    font-family: 'Open Sans';
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    cursor: pointer;
    margin-top: 60px;
    transition: all .6s ease;
}

.btn:hover {
    color: black;
    background: darkcyan;
}

#portfolio .portf-link {
    display: inline-block;
    color: #070707;
    margin-top: 40px;
    margin-bottom: 70px;
}
.header .red, .footer .red {
    text-decoration: none;
    color: crimson;
    text-shadow: 2px -1px #db0d0d;
}

.title {
    font-size: 48px;
}

.subtitle {
    font-size: 34px;
}

.title, .subtitle, .heading-3, .btn {
    font-weight: 700;
}

.footer {
    display: flex;
    justify-content: center;
}